# Dependencies
node_modules/

# Sass intermediate files
dist/css/style.comp.css
dist/css/style.prefix.css
dist/css/style.comp.css.map
dist/css/style.css.map
dist/css/style.prefix.css

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
*.log